.typescript {
  color: #007acc !important;
}

.bcc {
  color: #2b6abc !important;
}

.rxjsc {
  color: #c1185a;
}

.angular {
  color: #dd0031 !important;
}

.webrtc-orange {
  color: #ff6600 !important;
}

.html {
  color: #f1672c !important;
}

.css {
  color: #008fd5 !important;
}

.js {
  color: #8ace17 !important;
}

.kanban {
  color: #ec2a48 !important;
}

.elvia {
  color: #28f400 !important;
}

.backstop {
  color: #676156 !important;
}

.major-c {
  color: #b70010 !important;
}
.minor-c {
  color: #26881f !important;
}
.patch-c {
  color: #cccccc !important;
}

.github-actions {
  color: rgb(32, 136, 255) !important;
}

.scss {
  color: #cf649a !important;
}

.dark-theme {
  /* color: #000000 !important; */
}

.prettier {
  color: rgb(198, 149, 200) !important;
}

.vue {
  color: #4fc08d !important;
}

.react {
  color: #5ed4f4 !important;
}

.web-components {
  color: #f06707 !important;
}

.cli {
  color: #00ff00 !important;
}

.open-source {
  color: #3ba137 !important;
}

.git {
  color: #f05033 !important;
}

.computas {
  color: #28d0f5 !important;
}

.ie {
  color: #fad548 !important;
}

.frameworks {
  background: linear-gradient(90deg, #4fc08d 25%, #dd0031 35%, #dd0031 65%, #5ed4f4 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.attribute {
  color: #8cdcfe !important;
}

.event {
  color: #4ebc7c !important;
}

.function {
  color: #dccd79 !important;
}

.slot {
  color: #3f9cd6 !important;
}

.polymer {
  color: #ff4470 !important;
}

.vscode {
  color: #307ac6 !important;
}

.atom {
  color: #ffc320 !important;
}

.nodejs {
	color: #43853D !important;
}

.npm {
	color: #CD2E2C !important;
}

.yarn {
	color: #2C8EBB !important;
}